<!DOCTYPE html>
<html>
<head>
<%- include ("/_header.ejs") %>
</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="/index#escalator-world"><img class="header-banner" src="/assets/banner.png"></a>
</div>
<section class="main-content">
  <h1 class="post-title">Escalator World</h1>
  <h4 class="post-meta">2020-08</h4>
  <p>This was an exercise in really really polishing up all of the non-gameplay parts of a game. I think of it as the <a href="https://youtu.be/w20iz92QUco">coinstar monologue</a>, but for videogames :)</p>

  <p>Play it online <a href="https://pancelor.itch.io/escalator-world">here</a>! I'm not going to say much about it in this post because that would spoil the entire point of the game :) It's pretty short. (?)</p>

  <h3>gameplay video</h3>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/suoa5GiEE6o?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h3>explanation</h3>
  <p>I made this in a week using the pico-8 engine. It's based on an old game maker game back in the yoyogames era called "Escalator World" by LeGuy. It's one of my favorites; one of the few I made sure to download before the yoyogames forums were lost to time...</p>

  <h3>music</h3>
  <p>This was my first time writing game music! I'm happy with how it turned out!</p>
</section>
<%- include ("/_footer.ejs") %>
</body>
</html>
