<!DOCTYPE html>
<html>
<head>
<%- include ("/_header.ejs") %>
</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="/index#tetris-clone"><img class="header-banner" src="/assets/banner.png"></a>
</div>
<section class="main-content">
  <h1>Tetris Clone (may 2020)</h1>
  <p>I did this project one week when I neeeded a break from my bigger projects. I decided I wanted to get a visceral feel for how hard it is to finish a game; surely it's pretty hard? But how hard? So I decided to clone Tetris (the <a href="https://en.wikipedia.org/wiki/Tetris_(Game_Boy_video_game)">gameboy version</a>) down to a tiny level of detail to see how much work it would take.</p>
  <p>Turns out, it takes a lot of work :) But I learned a lot! Here are some of the highlights:</p>

  <h3>prototype versus polish</h3>
  <p>To start this project, I used my <a href="/posts/purple-gun-game">custom C++ Windows engine</a> and quickly built a basic Tetris prototype. I've built tetris plenty of times before (it's often the first thing I make when I'm trying out a new engine) so it wasn't hard to get the basics up and working:</p>

  <figure>
    <video loop controls autoplay muted>
      <source src="/assets/tetris-basics.mp4" type="video/mp4">
    </video>
    <figcaption>basic Tetris prototype</figcaption>
  </figure>

  <p>(The tile sprites were recreated by cobbling together a bunch of screenshots, and the music/sfx are mp3 recordings, but everything else in this project was handmade on top of the Windows API.)</p>
  <p>This is often the point where I lose interest and stop working on a project; I've sketched out the basic idea and I think it's cool, but I don't put in the time and effort to polish a prototype up and publish it for other people to play. However, I had already decided I was going to really polish this game, to learn for myself what sort of effort that actually takes.</p>
  <p>I chose to exactly clone an existing game (gameboy tetris) so that I wouldn't need to make any design decisions that might lead me into distracting rabbitholes – I would only need to exactly clone an existing game.</p>

  <h3>gosh this is hard</h3>
  <p>So, it turns out that finished games have, like, animation and stuff. And a menu, and a pause screen. And score. My prototype code really creaked and groaned as I tried to add these sorts of things. For instance, I had shortsightedly stored the game blocks only in the <code>tilemap</code> object, which was also used to display the screen. So when you paused the game, a pause screen was displayed, which overwrote the tilemap... so when you unpaused, all of the blocks were gone! Whoops.</p>
  <p>Animation in particular was rough – I knew for a long time that I would need to recreate the little laser effect that happens when you clear a line, but I kinda of dreaded having to write code that worked across multiple frames like that. (I know now that what I really wanted here was coroutines, which is not easy to do by default in C++.)</p>

  <h3>line clear animation</h3>

  <figure>
    <video loop controls autoplay muted>
      <source src="/assets/tetris-lineclear.mp4" type="video/mp4">
    </video>
    <figcaption>line clear animation! on the left is the original, on the right is my recreation</figcaption>
  </figure>

  <p>Check out this line clear animation! I'm happy I figured out a clean way to do the animation (see the upcoming "state machine" heading for a brief explanation), but also: check out the way that the blocks fall down after the laser animation ends! They don't fall all at once; they're staggered, two rows at a time. I played <em>many</em> hours of this version of Tetris as a kid, but had I never explicitly noticed this until working on this project.</p>

  <h3>the tetris font &lt;3</h3>
  <p>Let's talk for a moment about the amazing, chunky font Tetris uses. Look at it!</p>

  <figure>
    <img src="/assets/tetris-font.png">
    <figcaption>the GameBoy Tetris font</figcaption>
  </figure>

  <p>It's too good! I love it. Most letters have their weight emphasized on the <em>right</em> side, which seems backwards from what I would expect.</p>

  <figure>
    <img src="/assets/tetris-font-789.png">
    <figcaption>7, 8, and 9</figcaption>
  </figure>

  <p>And look at the numbers!! Look at how CHUNKY the 9 is! It's got a solid <em>3 by 4</em> section of pixels filled on the right, while the left side is a tiny unconnected 1 by 2! It's too good! This font just has so much character and I love it.</p>
  <p>I have a slight correction from earlier - I said I was building a clone, and I wasn't going to change anything. But… look how boring the <code>0</code> and <code>1</code> are in comparison to the rest of the font!</p>

  <figure>
    <img src="/assets/tetris-font-01.png">
    <figcaption>font changes! on the left are the original glyphs, on the right are my changes</figcaption>
  </figure>

  <p>There, much better :)</p>

  <h3>state machines</h3>
  <p>A <a href="https://en.wikipedia.org/wiki/Finite-state_machine">state machine</a> is a mathematical model for representing something's "state", like whether a monster is currently wandering aimlessly or actively hunting down the player. If you really math it up, you'll end up in some <a href="https://en.wikipedia.org/wiki/Halting_problem">very</a> <a href="https://www.scottaaronson.com/blog/?p=2725">cool</a> <a href="https://www.scottaaronson.com/blog/?p=4916">places</a>, but for most games, state machines don't feel like math, they just feel like setting a variable to one of many values defined in an <code>enum</code>. So what makes them interesting enough to talk about here?</p>
  <p>Well, adding a state machine to track the current "game mode" was a huge win for this project. Writing code to do any one thing is generally easy, but if you ask me to write <em>understandable, maintainable code</em>, I'll need to set up some sort of organization and code architecture that makes me confident that the codebase isn't eventually going to come crashing down under its own weight. If your code is all together in one jumbled mess, it becomes hard to edit any single part of it; you just know in the back of your mind that you've accidentally broken something far removed from what you're currently changing.</p>
  <p>In my final Tetris clone, the game can be in any of these different states ("modes"):</p>
<pre><code>enum game_mode {
    GM_NONE,        // dummy state, used during game startup
    GM_PLAY,        // the player is playing the game
    GM_LINE_CLEAR   // a line clear animation is in progress
    GM_PAUSE,       // the game is paused
    GM_LOSE,        // the "you lose" animation is in progress
    GM_HIGHSCORE,   // the player is on the highscore screen
    GM_COPYRIGHT,   // the game is starting up and the
                    // copyright notice is onscreen
    GM_TITLE,       // the game is on the title screen
    GM_REC_DEMO,    // a dev mode, used to record the demo video
    GM_DEMO,        // the game is playing a demo game
                    // (triggered when the player idles for 40
                    // seconds on the title screen)
    GM_TYPE_SELECT, // the player is chosing what type
                    // of game to play
};</code></pre>
  <p>Every frame, a different update function is called depending on the game's current mode:</p>
<pre><code>void GameUpdate(game_state *State) {
  switch (State->Mode) {
    case GM_PLAY:        return GameUpdate_ModePlay(State);
    case GM_LINE_CLEAR:  return GameUpdate_ModeLineClear(State);
    case GM_PAUSE:       return GameUpdate_ModePause(State);
    case GM_LOSE:        return GameUpdate_ModeLose(State);
    case GM_HIGHSCORE:   return GameUpdate_ModeHighScore(State);
    case GM_COPYRIGHT:   return GameUpdate_ModeCopyright(State);
    case GM_TITLE:       return GameUpdate_ModeTitle(State);
    case GM_REC_DEMO:    return GameUpdate_ModeRecDemo(State);
    case GM_DEMO:        return GameUpdate_ModeDemo(State);
    case GM_TYPE_SELECT: return GameUpdate_ModeTypeSelect(State);
    default: { assert(0); } break;
  }
}</code></pre>
  <p>Now, this is all a very standard, well-known game architecture technique, but I also added in one maybe less-known tip that I got from a <a href="http://number-none.com/blow/blog/programming/2014/09/26/carmack-on-inlined-code.html">mailing list post by John Carmack</a>:</p>
  <blockquote>
  <p>If a function is called from multiple places, see if it is possible to arrange for the work to be done in a single place, perhaps with flags, and inline that.</p>
  </blockquote>
  <p>What does this advice look like in the context of state machines? Instead of calling a <code>TransitionMode(GM_LINE_CLEAR)</code> function that immediately changes the <code>State-&gt;Mode</code> to <code>GM_LINE_CLEAR</code>, I instead set a variable <code>State-&gt;NextMode</code> to <code>GM_LINE_CLEAR</code>. Only much later, after the frame has finished, does my engine finally update the game mode to the value of <code>State-&gt;NextMode</code>.</p>
  <p>To sum up, <strong><code>State-&gt;Mode</code> is <em>only</em> changed in between frames</strong>. This made the resulting code wonderfully simple to reason about – I had the freedom of being able to add new states at will, but because I constrained myself to stay fixed in a single game mode for the duration of any given frame, this state system had <strong>very low mental overhead</strong> and made it easy to think through what my code was doing.</p>
  <p>I've used this sort of single-transition-point state machine in basically all of my games since.</p>

  <h3>wrap-up</h3>
  <p>That's it! This was a fun project, and it taught me the things I wanted it to teach me. I went into it thinking "okay I've already made a working Tetris clone here... how much more, exactly, is there to do?" and the answer was, of course: a lot!</p>
  <p>There was a really fun period in the middle of development where I would occasionally be playing my clone, and I would be surprised when something wasn't implemented exactly right, because I <em>thought</em> I had been playing the emulator instead!</p>
  <p>I haven't published this publically (because of licensing reasons), but the "gameplay video" section (below) should show off most of it. Here's the list of known differences between my version and the original version:
    <ul>
      <li>My version doesn't have a "B-TYPE" mode implemented</li>
      <li>My version has some minor sound glitches/differences</li>
      <li>My version chooses which pieces are coming next in some arbitrary random way. <a href="https://gaming.stackexchange.com/questions/61765/is-the-determination-of-which-tetris-block-comes-next-random">Tetris RNG algorithms</a> are varied, and have an important impact on strategy; I wish I'd taken the time to make the RNG for my version match the original version, but it slipped my mind.</li>
      <li>My version doesn't have a "you win" <a href="https://www.youtube.com/watch?v=ytvprVfbEUA">animation</a> that plays when you get over 100,000 score. (I had no idea this existed until doing this project! I stumbled across it while I was testing the score system / tetris multiplier.)</li>
      <li>My version has a slightly different 0 and 1 in the font :)</li>
    </ul>
  </p>

  <h3>gameplay video</h3>

  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WTP1WC9f3f8?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <!--
  TODO things to add?
    * show demo code
    * X2 lol
    * how does the game decide you lose? many clips scrutinized
   -->
</section>
<%- include ("/_footer.ejs") %>
</body>
</html>
