<!DOCTYPE html>
<html>
<head>
<%- include ("/_header.ejs") %>
</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="/index#worms"><img class="header-banner" src="/assets/banner.png"></a>
</div>
<section class="main-content">
<%- md("/posts/worms.md") %>
</section>
<%- include ("/_footer.ejs") %>
</body>
</html>
