@import "_helpers.scss";

body {
  background: $c-orange-main;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

  overflow-y: scroll;
  text-decoration-color: $c-text-black;
  margin-bottom: 0;
}
p { color: $c-text-black; }
h1 { color: $c-text-black; }
h2 { color: $c-text-black; }
h3 { color: $c-text-black; }
h4 { color: $c-text-black; }

// make sure media fits within its container
video {
  max-width: 100%;
  max-height: 100%;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/*see also https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars*/
body::-webkit-scrollbar { width: 1em; }
body::-webkit-scrollbar-thumb { border-right: 8px solid $c-orange-light; }
body::-webkit-scrollbar-thumb:hover { border-right: 8px solid #FFA300; }

.wrapper {
  background-color: $c-orange-light;
  background-position: left top;
  background-attachment: fixed;
  width: 800px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  /*display: grid;*/
  /*grid-template-columns: 400px min-content;*/
}
.header-banner {
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  background-position: left top;
  transition: background-image 0.5s ease-in-out 0s;

  margin:auto;
  width: 800px;
  height: 128px;
  max-width: none;
  max-height: none;
}
.header-banner:hover {
  background-image: url(/assets/banner-hover.png);
}
.header a {
  text-decoration: none;
}

body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
  content: url(/assets/banner.png) url(/assets/banner-hover.png); // load images
}


.header-list {
  display: grid;
  grid-template-columns: 60% 40%;
}
.header-item {
  text-decoration: none;
  color: #000000;
  background-color: $c-text-gray;
  margin: auto;
  padding: 10px;
}

.footer {
  font-size: 16px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content {
  /*display: block;*/
  margin: auto;
  max-width: 90%;
  top: 128px;
  position: relative;
}
/* TODO this shouldn't need to exist, but it offsets main-content's position */
.end-spacer {
  /*height: 128px;*/
  /*extra room to breathe:*/
  height: 256px;
}
.project-card-list {
  display: block;
}
.project-card {
  text-decoration: none;

  display: grid;
  grid-template-columns: 33% 64%;
  grid-column-gap: 3%;
  align-content: center;

  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2vh;

  border-radius: 2vh;
  /*background-color: #FFA300;*/
  /*background-color: $c-purple-button;*/
  background-color: $c-green-button;
  transition:all 0.1s ease-in-out 0s;
}
.project-card:hover {
  /*background-color: #000000;*/
  /*background-color: #CCC3E5;*/
  background-color: $c-purple-button;
}
.project-card-info {
  font-size: 16px;
}

.mailing-list-card {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 2vh;

  border-radius: 2vh;
  background-color: $c-blue-sky;
}

.project-card-preview {
  display: grid;
  border-radius: 1vh;
  margin:auto;
  height: 10em;
  width: 10em;
}
.project-card-preview > img {
  margin:auto;
  border-radius: 8px;
  // max-height: 100%;
  // max-width: 100%;
}
.project-card-preview > video {
  display:none;
  margin:auto;
  border-radius: 8px;
  // max-height: 100%;
  // max-width: 100%;
}

.post-title {
  margin-bottom: 0;
}
.post-meta {
  margin-top: 0;
  font-weight:unset;
}

/*unused, for now*/
.codeblock {
  font-family: 'Consolas', monospace;
  font-weight: bold;
  padding: 1ch 2ch;
  /*
  border-left: 1px solid #000;
  background: #000;
  color: #fff;
  padding: 24px;
  */
}

blockquote {
  font-style: italic;
  padding: 1rem 1rem 1rem;
  border-left: 3px solid #919191;
}
// pre {
//   font-size: 1rem;
//   padding: .66001rem 9.5px 9.5px;
//   line-height: 1.2rem;
//   background: #FFF1E8;
//   background-size: 100% 4rem;
// }
// code {
//   background: #FFF1E8;
//   font-family: 'Consolas', monospace;
//   font-weight: bold;
//   overflow-x: scroll;
// }
pre {
  color: #d1d9e1;
  background: #474949;
  border-radius: 2vh;
  min-width: 0%;
  max-width: 100%;
}
code {
  color: #d1d9e1;
  background: #474949;
  border-radius: 0.5vh;
  padding: 0.2vh;
}
pre code {
  display: block;
  padding: 1em;
  max-height: 66vh;
  overflow-y: auto;
  overflow-x: auto;
}

figure img {
  margin: auto;
  border-radius: 8px;
}
figure video {
  margin: auto;
  border-radius: 8px;
}
figure {
  display: grid;
  padding: 4px;
}
figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}
