<!DOCTYPE html>
<html>
<head>
<%- include ("/_header.ejs") %>
</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="/index"><img class="header-banner" src="/assets/banner.png"></a>
</div>
<section class="main-content">
  <p id="404-searching">Searching...</p>
  <div id="404-failed" style="display:none;">
  <h1 class="post-title">404</h1>
  <p>Uh oh! Couldn't find that page for you, sorry.</p>
  <p><a href="/index">Home</a></p>
  </div>
</section>
<%- include ("/_footer.ejs") %>
<script type="text/javascript">
  function display404() {
    document.getElementById("404-searching").style.display = "none" // invisible
    document.getElementById("404-failed").style.display = null // visible
  }

  // try inserting "/posts"
  let pathname = window.location.pathname
  let newpath = '/posts'+pathname
  let request = new XMLHttpRequest()
  request.open('HEAD', newpath, true)
  request.onreadystatechange = function(){
    if (request.readyState === 4){
      if (request.status < 400) {
        window.location = newpath
      } else {
        display404()
      }
    }
  }
  request.send()
</script>
</body>
</html>
