<!DOCTYPE html>
<html>
<head>
<link href="/stylesheets/mailchimp.css" rel="stylesheet" type="text/css">
<%- include ("/_header.ejs") %>
</head>
<body>
<div class="wrapper">
<div class="header">
  <a href="/"><img class="header-banner" src="/assets/banner.png"></a>
</div>
<section class="main-content">
  <h3>contact me:</h3>
  <ul>
    <li><b>email</b>: <a href="mailto:hello@pancelor.com">hello@pancelor.com</a> </li>
    <li><b>twitter DMs</b>: <a href="https://twitter.com/pancelor">@pancelor</a></li>
  </ul>

  <h3>follow me:</h3>
  <ul>
    <li><b>twitter</b>: <a href="https://twitter.com/pancelor">@pancelor</a> (warning: weird)</li>
    <li><b>twitch</b>: <a href="https://twitch.com/pancelor">pancelor</a> for game dev streams and indie variety streams</li>
    <li><b>itch</b>: <a href="https://pancelor.itch.io">pancelor</a> for published games</li>
  </ul>

  <div class="mailing-list-card">
  <h3>join my mailing list!</h3>

  <p>If you like my projects, join my mailing list so I can tell you about other cool stuff I'm making! I'll occasionally send announcements, devlog-style updates, fun little treats (beta levels for <a href="/posts/inbox-unbox">Inbox Unbox</a>, maybe?), and you can of course unsubscribe whenever. If you're interested, enter your email here:</p>

  <%- include ("/_mail.ejs") %>
  </div>

</section>
<%- include ("/_footer.ejs") %>
</body>
</html>
