<title>pancelor dot com</title>
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
<link rel="stylesheet" href="/stylesheets/main.css">
