<title>pancelor dot com</title>
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" href="/stylesheets/opensans.css">
<link rel="stylesheet" href="/stylesheets/main.css">
