<div id="skip-header"><a href="#main-content">Skip to Main Content</a></div> 
<div class="header">
  <a href="/index"><div id="header-banner"><div class="sr-only">pancelor</div></div></a>
  <nav>
    <div>
      <a href="/website2022-12"><div id="nav-portfolio"><div class="sr-only">portfolio</div></div></a>
      <a href="https://pancelor.bearblog.dev/"><div id="nav-blog"><div class="sr-only">blog</div></div></a>
      <a href="https://pancelor.bearblog.dev/links"><div id="nav-links"><div class="sr-only">links</div></div></a>
    </div>
    <div>
      <a href="/contact"><div id="nav-contact"><div class="sr-only">contact</div></div></a>
    </div>
  </nav>
  <link rel="prefetch" as="image" href="/assets/banner-hover.png" />
  <link rel="prefetch" as="image" href="/assets/nav-portfolio-hover.png" />
  <link rel="prefetch" as="image" href="/assets/nav-blog-hover.png" />
  <link rel="prefetch" as="image" href="/assets/nav-links-hover.png" />
  <link rel="prefetch" as="image" href="/assets/nav-contact-hover.png" />
</div>
