<div class="header">
  <a href="/index"><div class="header-banner"></div></a>
  <nav>
    <div>
      <a href="/index"><div class="nav-portfolio"></div></a>
      <a href="/blog"><div class="nav-blog"></div></a>
    </div>
    <div>
      <a href="/contact"><div class="nav-contact"></div></a>
    </div>
  </nav>
</div>
